.env
myvenv/
venv/
artesis/
db.sqlite3
.vscode

mysite/__pycache__/*
mysite/migrations/__pycache__/*
artesis/__pycache__/*.pyc
website/__pycache__/*
website/migrations/__pycache__/*
media/

node_modules/
package-lock.json