html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .initial-navbar {
    transform: translateY(0);
  }
}

.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.payment-slide {
  position: absolute;
  bottom: 25%;
}

.payment-slide.active {
  position: absolute;
  bottom: 45%;
  transition: all 1s ease-in-out; 
}

.close-navbar {
  transform: translateY(-85%);
  transition: transform 0.5s ease-in-out;
}

.open-navbar {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.move-left {
  transform: translateX(-200px);
  transition: transform 0.3s ease-in-out;
}

.move-right {
  transform: translateX(200px);
  transition: transform 0.3s ease-in-out;
}

.rotator-1 {
  transform: rotate(-45deg);
  transition: transform 1s ease;
}

.rotator-2 {
  transform: rotate(45deg);
  transition: transform 1s ease;
}

.rotator-initial-1 {
  transform: rotate(45deg);
  transition: transform 1s ease;
}

.rotator-initial-2 {
  transform: rotate(-45deg);
  transition: transform 1s ease;
}

.scroll-down-animation {
  transform: translate(-50%, 0);
  animation: wheel-down 1.5s ease-in-out infinite;
}

@keyframes wheel-down {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  20%,
  70% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
}

.barcode-animation {
  position: absolute;
  display: hidden;
  bottom: 25%;
  opacity: 0;
}

.barcode-animation.active {
  position: absolute;
  opacity: 1;
  bottom: 5%;
  transition: all 1s ease-in-out;
}
