<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Bundle -->
    <link rel="stylesheet" href="../static/css/output.css" />
    <link rel="stylesheet" href="../static/css/custom.css">

    <title>About & FAQ</title>
  </head>
  <body>
    <a href="#" class="z-10 to-top bg-sky-400/80" id="toTop">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
      </svg>              
    </a>
    <!-- Navbar Start -->
    <nav
      class="fixed flex justify-between items-center py-4 lg:px-6 h-14 w-screen backdrop-blur-sm bg-sky-700/40 z-20"
    >
      <a href="base.html" class="text-2xl font-semibold text-white pl-6"
        >
        <p>Artesis <span class="underline decoration-3 decoration-sky-200 decoration-wavy">Payment</span></p>
      </a>
      <div class="absolute lg:hidden pr-6 right-0">
        <button class="relative group z-10" id="hamburger" >
          <div
            class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] bg-slate-700/40 shadow-md"
          >
            <div
              class="flex flex-col justify-between w-[20px] h-[20px] origin-center overflow-hidden"
            >
              <div class="bg-white h-[2px] w-7"></div>
              <div class="bg-white h-[2px] w-7"></div>
              <div class="bg-white h-[2px] w-7"></div>

              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="absolute right-[-400px] lg:right-[200px] top-0 lg:flex move-right" id="navItems">
        <div
          class="absolute flex flex-col p-4 pt-20 lg:pt-1 lg:flex-row h-screen w-96 bg-slate-100 right-0 top-0 lg:bg-transparent lg:h-auto lg:w-auto"
        >
          <a href="items_list.html">
            <button
              class="h-8 w-32 m-2 rounded-lg hover:border-2 border-sky-600 bg-white hover:bg-slate-200 lg:bg-white/60  lg:hover:bg-white transition-all shadow-md"
            >
              List Rumah
            </button>
          </a>
          <a href="login.html">
            <button
              class="h-8 w-32 m-2 rounded-lg hover:border-2 border-sky-600 bg-white hover:bg-slate-200 lg:bg-white/60  lg:hover:bg-white transition-all shadow-md"
            >
              Rumahku
            </button>
          </a>
          <a href="about.html">
            <button
              class="h-8 w-32 m-2 rounded-lg hover:border-2 border-sky-600 bg-white hover:bg-slate-200 lg:bg-white/60  lg:hover:bg-white transition-all shadow-md"
            >
              About & FAQ
            </button>
          </a>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <main class="bg-slate-200">
      <!-- Content Start -->
      <div class="flex flex-col">
        <div class="m-auto px-6 pt-20 md:px-20 lg:px-28 pb-6 ">
          <div>
            <div class="bg-sky-600 p-4 rounded-md">
              <p class="text-4xl w-full text-white font-semibold">About</p>
            </div>
            <div>
              <p class="p-6 text-lg text-justify bg-slate-100 rounded-b-xl">
                Website Artesis Permasih adalah website yang dibuat khusus untuk
                warga perumahan Jatihurip Permasih yang dibuat dalam rangka
                mempermudah penyajian informasi seputar sumber air artesis yang
                digunakan. Website ini dibuat dengan tujuan mempermudah
                penyajian informasi, pencatatan riwayat, dan pemberi informasi
                seputar transaksi keuangan supaya warga bisa melakukan transaksi
                dengan mudah dan aman.
              </p>
            </div>
          </div>
        </div>
        <div class="p-20 px-6 md:px-20 lg:px-28 pt-6">
          <div class="">
            <div class="bg-sky-600 p-4 rounded-lg">
              <p class="text-4xl w-full text-white font-semibold">FAQ</p>
            </div>
            <div class="px-6 py-4 text-lg">
              <div class="bg-sky-600 p-2 rounded-md">
                <p class="text-xl w-full text-white font-medium">Umum</p>
              </div>
              <div class="px-6 bg-slate-100 rounded-b-xl">
                <div class="py-4">
                  <p>Q: "Apa maksudnya Artesis?"</p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>Q: "Apakah Air pernah surut?"</p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>Q: "Kenapa Air sering mati saat tengah malam?"</p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>Q: "Apakah diterapkan sistem giliran?"</p>
                  <p>A: ""</p>
                </div>
              </div>

              <div class="bg-sky-600 p-2 rounded-md">
                <p class="text-xl w-full text-white font-medium">
                  Seputar Pembayaran dan Transaksi
                </p>
              </div>
              <div class="px-6 bg-slate-100 rounded-b-xl">
                <div class="py-4">
                  <p>
                    Q: "Apakah pembayaran air dihitung secara flat atau tidak?"
                  </p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>Q: "Berapa harga air per meter kubik (m3)?"</p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>
                    Q: "Kenapa diadakan sistem beban? Apakah beban dikenakan
                    seluruh warga?"
                  </p>
                  <p>A: ""</p>
                </div>
                <div class="pb-4">
                  <p>
                    Q: "Kenapa tagihan sangat mahal padahal saya tidak menggunakan
                    air?"
                  </p>
                  <p>A: ""</p>
                </div>
              </div>

              <div class="bg-sky-600 p-2 rounded-md">
                <p class="text-xl w-full text-white font-medium">
                  Seputar Mesin
                </p>
              </div>
              <div class="px-6 bg-slate-100 rounded-b-xl">
                <div class="py-4">
                  <p>
                    Q: "Kenapa angka di meteran saya tidak bergerak/selalu
                    bergerak?"
                  </p>
                  <p>A: ""</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content End -->
    </main>

    <script src="../static/js/script.js"></script>
  </body>
</html>
