{% extends 'base.html' %}

{% load static %}

{% block body %}

  <!-- SIDE BUTTON (TO TOP BUTTON) -->
  <a href="#" class="z-10 to-top bg-slate-400/80" id="toTop">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>              
  </a>
  
  <!-- Navbar Start -->
  {% include 'navbar.html' %}

  {% block navbar %}

  {% endblock navbar %}

  <!-- Navbar End -->
  
  <main class="bg-slate-200">
    <!-- Content Start -->
    <div class="flex flex-col">
      <div class="m-auto px-6 pt-20 md:px-20 lg:px-28 pb-6 ">
        <div>
          <div class="bg-slate-500 p-4 rounded-md">
            <p class="text-4xl w-full text-white font-semibold">About</p>
          </div>
          <div class="p-6 pb-0 bg-slate-100 rounded-b-xl">
            {% for item in about_information %}
              {% if item.judul == 'about' and item.is_view %}
                <p class="pb-6 text-lg text-justify">
                  {{ item.deskripsi }}
                </p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pb-20 px-6 md:px-20 lg:px-28 pt-6">
        <div class="">
          <div class="bg-slate-500 p-4 rounded-lg">
            <p class="text-4xl w-full text-white font-semibold">FAQ</p>
          </div>
          <div class="px-6 pt-2 pb-4 text-lg">
            <div class="bg-slate-500 p-2 rounded-md">
              <p class="text-xl w-full text-white font-medium">
                Umum
              </p>
            </div>
            <div class="px-6 pt-4 bg-slate-100 rounded-b-xl">
              {% for item in about_information %}
                {% if item.judul == 'umum' and item.is_view %}
                  <div class="pb-4">
                    <p>Q: "{{ item.pertanyaan }}"</p>
                    <p>A: "{{ item.jawaban }}"</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="bg-slate-500 p-2 rounded-md">
              <p class="text-xl w-full text-white font-medium">
                Seputar Pembayaran dan Transaksi
              </p>
            </div>
            <div class="px-6 pt-4 bg-slate-100 rounded-b-xl">
              {% for item in about_information %}
                {% if item.judul == 'transaksi' and item.is_view %}
                  <div class="pb-4">
                    <p>Q: "{{ item.pertanyaan }}"</p>
                    <p>A: "{{ item.jawaban }}"</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="bg-slate-500 p-2 rounded-md">
              <p class="text-xl w-full text-white font-medium">
                Seputar Website
              </p>
            </div>
            <div class="px-6 pt-4 bg-slate-100 rounded-b-xl">
              {% for item in about_information %}
                {% if item.judul == 'website' and item.is_view %}
                  <div class="pb-4">
                    <p>Q: "{{ item.pertanyaan }}"</p>
                    <p>A: "{{ item.jawaban }}"</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content End -->
  </main>

  <!-- Footer Start -->
  {% include 'footer.html' %}

  {% block footer %}

  {% endblock footer %}

  <!-- Footer End -->

{% endblock body %}
