{% extends 'base.html' %}

{% load static %}

{% block body %}

  <!-- SIDE BUTTON (TO TOP BUTTON) -->
  <a href="#" class="z-20 to-top bg-sky-400/90" id="toTop">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>              
  </a>

  <!-- Navbar Start -->
  {% include 'navbar.html' %}

  {% block navbar %}

  {% endblock navbar %}

  <!-- Navbar End -->
  
  <main>
    <!-- Content Start -->
    <div class="w-full h-screen">
      <div>
        {% if user_account.pictures %}
          <img class="fixed w-full h-full object-cover object-center -z-20 contrast-50 saturate-50" src="{{ user_account.pictures.url }}" alt="background image" srcset="">
        {% else %}
          <img class="fixed w-full h-full object-cover object-center -z-20 contrast-50 saturate-50" src="{% static 'image/basic_question.jpg' %}" alt="background image" srcset="">
        {% endif %}
      </div>
      <div class="flex flex-col m-auto fixed w-screen pt-52 lg:pt-40 text-center -z-10">
        <p class="text-7xl md:text-9xl font-medium text-white">{{ user_account.id }}</p>

        <!-- Data Landing -->
        <p class="text-xl md:text-3xl font-medium text-sky-100">per <span class="font-bold">{{ user_account.bulan_tagihan }}</span> - <span class="font-bold">{{ user_account.tahun_tagihan }}</span></p>
        
        <div class="flex m-auto w-full md:w-2/3 pt-20 px-2 md:px-0">
          <div class="m-auto px-1 md:px-3 py-2 w-auto md:w-40 rounded-xl bg-sky-800/30 backdrop-blur-sm backdrop-saturate-50">
            <p class="text-sm md:text-xl font-medium text-white">Status Bayar</p>
            {% if user_account.status_bayar != '' %}
              {% if user_account.status_bayar == 'LUNAS' %}
                <span class="text-xl md:text=3xl font-bold text-green-500"> {{ user_account.status_bayar }} </span>
              {% elif user_account.status_bayar == 'BELUM LUNAS' %}
                <span class="text-xl md:text=3xl font-bold text-red-500"> {{ user_account.status_bayar }} </span>
              {% elif user_account.status_bayar == 'DITANGGUHKAN' %}
                <span class="text-xl md:text=3xl font-bold text-orange-500"> {{ user_account.status_bayar }} </span>
              {% endif %}
            {% else %}
              <span class="text-xl md:text=3xl font-bold text-white"> - </span>
            {% endif %}
          </div>
          <div class="m-auto px-1 md:px-3 py-2 w-auto md:w-40 rounded-xl bg-sky-800/30 backdrop-blur-sm backdrop-saturate-50">
            <p class="text-sm md:text-xl font-medium text-white">Kondisi Mesin</p>
            {% if user_account.status_mesin != '' %}
              {% if user_account.status_mesin == 'BAIK' %}
                <span class="text-xl md:text=3xl font-bold text-green-500"> {{ user_account.status_mesin }} </span>
              {% elif user_account.status_mesin == 'RUSAK' %}
                <span class="text-xl md:text=3xl font-bold text-red-500"> {{ user_account.status_mesin }} </span>
              {% endif %}
            {% else %}
              <span class="text-xl md:text=3xl font-bold text-white"> - </span>
            {% endif %}
          </div>
          <div class="m-auto px-1 md:px-3 py-2 w-auto md:w-40 rounded-xl bg-sky-800/30 backdrop-blur-sm backdrop-saturate-50">
            <p class="text-sm md:text-xl font-medium text-white">Kependudukan</p>
            {% if user_account.status_kependudukan != '' %}
              {% if user_account.status_kependudukan == 'DIISI' %}
                <span class="text-xl md:text=3xl font-bold text-green-500"> {{ user_account.status_kependudukan }} </span>
              {% elif user_account.status_kependudukan == 'KOSONG' %}
                <span class="text-xl md:text=3xl font-bold text-red-500"> {{ user_account.status_kependudukan }} </span>
              {% endif %}
            {% else %}
              <span class="text-xl md:text=3xl font-bold text-white"> - </span>
            {% endif %}
          </div>
        </div>
        <div class="m-auto pt-24 lg:pt-16">
          <div class="relative w-9 h-14 border-4 border-white rounded-full m-2">
            <div class="absolute w-2 h-2 bg-white left-[50%] top-[15%] rounded-full scroll-down-animation wheel-down">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full h-auto bg-sky-900/30 backdrop-blur-xl p-12">
      <div class="flex flex-col m-auto">
        <div class="m-auto payment-slide text-white" id="payment-slider">
          <div class="p-4 pl-2 ">
            <p class="text-xl md:text-2xl">Tagihan Anda Bulan ini:</p>

            <!-- Data Manuals -->
            <p class="text-md md:text-lg">Tenggat Waktu: <span>30 {{ user_account.bulan_tagihan }} {{ user_account.tahun_tagihan }}</span></p>
          
          </div>
          <div class="flex m-auto p-2 md:p-4 border-4 border-sky-500 rounded-lg text-sm md:text-lg lg:w-[800px]">
            <table class="flex m-auto">
              <tr>
                <td class="md:pr-8"><p>Biaya Pemakaian</p></td>
                <td class="md:pr-4"><p>=</p></td>
                <td class="md:pr-8"><span>{{ decrypted_pemakaian_kubik_bulanan }}</span></td>
                <td class="md:pr-8"><p>x</p></td>
                <td class="md:pr-8"><p>Rp. 5500</p></td>
                <td class="md:pr-4"><p>=</p></td>
                <td class="md:pr-8"><span>Rp. {{ decrypted_biaya_pemakaian_bulanan }}</span></td>
              </tr>
              <tr>
                <td><p>Biaya Beban</p></td>
                <td><p>=</p></td>
                <td colspan="3"><p>Rp. 20000</p></td>
                <td><p>=</p></td>
                <td><span>Rp. 20000</span></td>
              </tr>
              <tr class="border-t-2 border-white">
                <td colspan="5"><p>Total</p></td>
                <td><p>=</p></td>
                <td><span>Rp. {{ decrypted_biaya_total_bulanan }}</span></td>
              </tr>
            </table>
          </div>
          <div class="flex my-4 w-full justify-evenly">
            <button class="p-2 m-1 bg-sky-500 rounded-lg border-slate-700 text-white shadow-md hover:bg-sky-400 transition-colors" id="payment-now" onclick="barcodePayment()">
              Bayar Sekarang
            </button>
            <a href="{% url 'about' %}">
              <button class="p-2 m-1 bg-sky-500 rounded-lg border-slate-700 text-white shadow-md hover:bg-sky-400 transition-all">
                Pelajari lebih lanjut
              </button>
            </a>
          </div>
          <div>
            <p class="text-red-400 font-medium">
              *Saat ini hanya melayani pengajuan pembayaran mandiri
            </p>
          </div>
        </div>
        <div class="m-auto barcode-animation -z-10" id="barcode-payment">

          <!-- FOR BARCODE LATER -->
          <!-- <div class="flex flex-col md:flex-row m-auto py-8 md:w-[500px]">
            <div class="flex m-auto w-44 h-44 p-2 bg-transparent rounded-xl border-slate-300 border-2">
              <div class="m-auto h-36 w-36 bg-emerald-100">
              
                <span></span>
            
              </div>
            </div>
            <div class="flex m-auto p-2"><p class="font-medium text-xl md:text-2xl">scan barcode berikut</p></div>
          </div> -->

          <!-- MANUAL PAYMENT -->
          <div class="flex m-auto md:py-8 py-4">
            <div class="flex-row m-auto">
              <div class="flex m-auto pb-4">
                <div class="m-auto">
                  <p class="text-white text-xl font-medium">Langkah-langkah pembayaran online</p>
                </div>
              </div>
              <div class="md:flex m-auto">
                <div class="flex mb-2 lg:mb-4 lg:m-4 p-4 h-auto w-auto md:w-52 lg:w-72 bg-white border-4 border-sky-500 rounded-lg">
                  <div class="m-auto">
                    <p>Bayar menggunakan dompet digital apapun ke akun DANA<br>0877-4378-0960<br><br>cek kembali nomor dan nomonal supaya tidak ada kesalahan<br><br>**biaya admin masing-masing dompet digital ditanggung sendiri</p>
                  </div>
                </div>
                <div class="flex mb-2 lg:mb-4 lg:m-4 p-4 h-auto w-auto md:w-52 lg:w-72 bg-white border-4 border-sky-500 rounded-lg">
                  <div class="m-auto">
                    <p class="">Kirim pesan dengan format<br>"(nomor rumah) - (nama pemilik rumah) - (nominal tagihan) - Pembayaran Air" di catatan transaksi<br><br> Contoh :<br><b>"D49 - Ruhdiana - 50000 - Pembayaran Air"</b></p>
                  </div>
                </div>
                <div class="flex mb-2 lg:mb-4 lg:m-4 p-4 h-auto w-auto md:w-52 lg:w-72 bg-white border-4 border-sky-500 rounded-lg">
                  <div class="m-auto">
                    <p>Silakan simpan bukti pembayaran, dan tunggu max 2x24 jam hari kerja (Senin - Sabtu)<br><br>Bila status di website belum berubah, silakan konfirmasi ulang melalui WhatsApp ke nomor berikut: 0851-5646-4016</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-auto pb-40 bg-slate-100">
      <div class="pl-4 md:pl-16 pt-28">
        <p class="text-xl md:text-3xl">Riwayat Pembayaran Bulan Sebelumnya</p>
        <p class="visible lg:invisible text-md">Geser untuk memperjelas</p>
      </div>
      <div class="flex mt-4 lg:justify-center overflow-scroll mx-4 bg-white">
        <table class="table border-2 border-slate-600">
          <tr class="text-center border-2 border-slate-600">
            <td class="px-8 border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Bulan</p></td>
            <td class="px-7 border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Tanggal Pembayaran</p></td>
            <td class="px-7 border-2 border-slate-600 bg-slate-200" colspan="3"><p>Kubik Air yang digunakan (/m<sup>3</sup>)</p></td>
            <td class="px-7 border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Total Tagihan</p></td>
            <td class="px-7 border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Uang yang dibayarkan</p></td>
            <td class="px-7 border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Status Pembayaran</p></td>
            <td class=" border-2 border-slate-600 bg-slate-200" rowspan="2"><p>Sisa Pembayaran</p></td>
          </tr>
          <tr class="border-2 border-slate-600 pb-2 text-center">
            <td class="px-5 border-2 border-slate-600 bg-slate-200"><p>Awal</p></td>
            <td class="px-5 border-2 border-slate-600 bg-slate-200"><p>Akhir</p></td>
            <td class="px-5 border-2 border-slate-600 bg-slate-200"><p>Total</p></td>
          </tr>
          <!-- Database History Start -->
          <tr class="text-center border-2 border-slate-600">
            <td class="border-2 border-slate-600"><span>{{ payment_history.bulan }}</span></td>
            <td class="border-2 border-slate-600"><span>{{ payment_history.tanggal_pembayaran }}</span></td>
            <td class="border-2 border-slate-600"><span>{{ payment_history.kubikasi_awal }}</s></td>
            <td class="border-2 border-slate-600"><span>{{ payment_history.kubikasi_akhir }}</span></td>
            <td class="border-2 border-slate-600"><span>{{ payment_history.kubikasi_total }}</span></td>
            <td class="border-2 border-slate-600"><p>Rp. <span>{{ payment_history.tagihan_total }}</span></p></td>
            <td class="border-2 border-slate-600"><p>Rp. <span>{{ payment_history.tagihan_dibayar }}</span></p></td>
            <td class="border-2 border-slate-600"><span>{{ payment_history.status_pembayaran }}</span></td>
            <td><p>Rp. <span>{{ payment_history.sisa_pembayaran }}</span></p></td>
          </tr>
          <!-- Database End -->
        </table>
      </div>
    </div>
    <!-- Content End -->
  </main>
{% endblock body %}
