{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Bundle -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>

    <title>Arpay - Artesis Payment</title>
  </head>
  <body>

    {% block body %}

    {% endblock body %}

    <!-- 
      JS Bundle
      - DONT disturb this script location cause it will damaging the logical structures 
    -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  </body>
</html>
