{% extends 'base.html' %}

{% load static %}

{% block body %}
  
  <!-- Navbar Start -->
  {% include 'navbar.html' %}

  {% block navbar %}

  {% endblock navbar %}

  <!-- Navbar End -->
  <main>
    <div class="flex h-screen w-screen">
      <div>
        <img src="{% static 'image/basic.jpg' %}" class="fixed w-full h-full object-cover object-center -z-20 contrast-50 saturate-50" alt="background image" srcset="">
      </div>
      <div class="flex m-auto w-96 h-[450px] backdrop-blur-sm bg-slate-400/40 rounded-xl border-2 border-sky-100/30 shadow-md">
        <div class="m-auto text-center">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="p-6 lg:p-8">
              <p class="text-3xl lg:text-4xl text-white font-bold underline decoration-sky-300 decoration-wavy ">Login</p>
            </div>
            <div class="p-1">
              <p class="text-left text-white pl-1">Nomor Rumah</p>
              <input class="w-52 h-8 pl-3 rounded-xl border-2 border-transparent shadow-md backdrop-blur-md backdrop-brightness-200 bg-white/10"
                type="text"
                name="house_id"
                id="house_id"
                value=""
                required
              />
            </div>
            <div class="p-1">
              <p class="text-left text-white pl-1">Password</p>
              <input class="w-52 h-8 pl-3 rounded-xl border-2 border-transparent shadow-md backdrop-blur-md backdrop-brightness-200 bg-white/10"
                type="password"
                name="house_pass"
                id="house_pass"
                value=""
                required
              />
            </div>
            <div class="p-3 text-right">
              <a href="{% url 'about' %}" class="text-sky-400 font-medium underline hover:text-sky-300">Lupa password?</a>
            </div>
            <div class="p-3">
              <a href="">
                <button class="font-semibold w-36 h-10 rounded-xl shadow-md hover:border-2 border-white bg-slate-600 hover:bg-slate-500 text-white transition-all" type="submit">
                  Masuk
                </button>          
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
    
{% endblock body %}
