{% load static %}

{% block sidebar %}
<div class="fixed md:relative z-10 initial-navbar open-navbar" id="sideBar">
  <div class="relative flex flex-col pt-6 lg:pt-8 h-screen w-screen md:w-[250px] bg-slate-300">
    <div class="m-auto text-center items-center justify-center">
      <div class="p-1">
        <p class="font-semibold">Search</p>
        <div
          class="w-72 md:w-52 h-8 flex rounded-lg border-2 border-transparent shadow-md m-auto bg-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-auto h-auto p-1 bg-slate-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
          <input
            class="rounded-r-lg border-transparent border-2 w-72 md:w-52"
            type="text"
            name="search"
            id="search"
          />
        </div>
      </div>
      <div class="p-1 flex flex-col">
        <p class="font-semibold">Sort by</p>
        <div class="mx-auto pb-3">
          <p
            class="px-4 w-72 md:w-52 h-8 rounded-t-xl bg-gray-200 border-2 border-gray-100 shadow-md"
          >
            Status Bayar
          </p>
          <label for="bayar-semua">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Semua</p>
              <input
                type="radio"
                name="status-bayar"
                id="bayar-semua"
                value="bayar-semua"
                checked
              />
            </div>
          </label>
          <label for="bayar-lunas">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Lunas</p>
              <input
                type="radio"
                name="status-bayar"
                id="bayar-lunas"
                value="bayar-lunas"
              />
            </div>
          </label>
          <label for="bayar-belum-lunas">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Belum Lunas</p>
              <input
                type="radio"
                name="status-bayar"
                id="bayar-belum-lunas"
                value="bayar-belum-lunas"
              />
            </div>
          </label>
          <label for="bayar-nunggak">
            <div
              class="flex px-4 w-72 md:w-52 h-8 rounded-b-xl bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Ditangguhkan</p>
              <input
                type="radio"
                name="status-bayar"
                id="bayar-nunggak"
                value="bayar-nunggak"
              />
            </div>
          </label>
        </div>
        <div class="mx-auto pb-3">
          <p
            class="px-4 w-72 md:w-52 h-8 rounded-t-xl bg-gray-200 border-2 border-gray-100 shadow-md"
          >
            Kondisi Mesin
          </p>
          <label for="mesin-semua">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Semua</p>
              <input
                type="radio"
                name="status-mesin"
                id="mesin-semua"
                value="mesin-semua"
                checked
              />
            </div>
          </label>
          <label for="mesin-bagus">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Mesin Bagus</p>
              <input
                type="radio"
                name="status-mesin"
                id="mesin-bagus"
                value="mesin-bagus"
              />
            </div>
          </label>
          <label for="mesin-rusak">
            <div
              class="flex px-4 w-72 md:w-52 h-8 rounded-b-xl bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Mesin Rusak</p>
              <input
                type="radio"
                name="status-mesin"
                id="mesin-rusak"
                value="mesin-rusak"
              />
            </div>
          </label>
        </div>
        <div class="mx-auto">
          <p
            class="px-4 w-72 md:w-52 h-8 rounded-t-xl bg-gray-200 border-2 border-gray-100 shadow-md"
          >
            Status Kependudukan
          </p>
          <label for="rumah-semua">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Semua</p>
              <input
                type="radio"
                name="status-rumah"
                id="rumah-semua"
                value="rumah-semua"
                checked
              />
            </div>
          </label>
          <label for="rumah-diisi">
            <div
              class="flex px-4 w-72 md:w-52 h-8 bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Rumah Diisi</p>
              <input
                type="radio"
                name="status-rumah"
                id="rumah-diisi"
                value="rumah-diisi"
              />
            </div>
          </label>
          <label for="rumah-kosong">
            <div
              class="flex px-4 w-72 md:w-52 h-8 rounded-b-xl bg-white border-2 border-gray-100 shadow-md justify-between hover:cursor-pointer"
            >
              <p>Rumah Kosong</p>
              <input
                type="radio"
                name="status-rumah"
                id="rumah-kosong"
                value="rumah-kosong"
              />
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="md:hidden pb-3">
      <div
      class="flex items-center justify-center "
      >
      <button class=" w-[40px] h-[40px]" onclick="closeSideBar()">
        <div class="relative group">
          <div
            class="flex flex-row overflow-visible"
          >
            <div class="absolute bg-slate-900 h-[3px] w-5 rotator-initial-1 right-1" id="chev-1"></div>
            <div class="absolute bg-slate-900 h-[3px] w-5 rotator-initial-2 left-1" id="chev-2"></div>
          </div>
        </div>
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %}